html,
body {
	background: url(../images/homeback.jpg) fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
	height: 100%;
}

header {
	width: 100%;
	min-height: 81px;
	background: #1E1E1E;
	border-bottom: 3px solid;
	color: #FFFFFF;
	position: fixed;
	
	z-index: 3;
}

#title_et {
	background-image: url(../images/erictantitle.png);
	display: block;
	height: 80px;
	width: 200px;
	float: left;
	margin-top: 0;
	
	transition-duration: 0.4s;
	transition-property: all;
}

#title_et:hover{
	opacity: 0.5;
}

#headerright {
	float: right;
	font-weight: 300;
	letter-spacing: -1px; 
}

#topnavlist {
	margin: 0;
	padding: 0;
}

#topnavlist li {
	float: left;
	list-style-type: none;
	padding-right: 2px;
}

#topnavlist li a {
	display: block;
	padding: 31px 10px;
	background: url(../images/topnavback.jpg);
	color: #999999;
	text-decoration: none;
	
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: cubic-bezier(1, 0.1, 0.25, 1);
}

#topnavlist .current {
	background: #FFFFFF;
	color: #1E1E1E;
}

#topnavlist a:hover {
	background-position: left bottom;
	color: #CCCCCC;
}

footer {
	width: 100%;
	height: 100px;
	background: #1E1E1E;
	border-top: 3px solid;
	color: #FFFFFF;
	bottom: 0;
	position: fixed;
	
	z-index: 3;
}

#botnav {
	text-align: center;
}

#botnavlist li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

.centered {
	max-width: 1000px;
	margin: 0 auto;
}

#height100 {
	height: 100%;
	min-height: 620px;
}

#logodiv {
	width: 600px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#logo {
	display: none;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#text_et {
	display: none;
	position: relative;
	left: 347px;
	top: -465px;
	z-index: 2;
}

#text_wd {
	display: none;
	position: relative;
	left: -185px;
	top: -295px;
	z-index: 2;
}

#aboutme {
	margin-top: -100px;
	padding-bottom: 100px;
	color: white;
	font-family: 'Josefin Slab', serif;
	font-size: 40px;
	text-align: center;
}