html,
body {
	background: url(../images/homeback.jpg) fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: Arial;
	color: white;
	height: 100%;
}

/* CSS for the header */

header {
	width: 100%;
	min-width: 500px;
	min-height: 80px;
	background: #1E1E1E;
	border-bottom: 3px solid;
	color: #FFFFFF;
	position: fixed;
	font-size: 15px;
	
	margin-top: -83px;
	z-index: 10000;
	
	transition-duration: 1.5s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1);
}

.headeronload {
	margin-top: 0px;
}

#title_et {
	background-image: url(../images/erictantitle.png);
	display: block;
	height: 80px;
	width: 200px;
	float: left;
	margin-top: 0;
	
	transition-duration: 0.4s;
	transition-property: all;
}

#title_et:hover{
	opacity: 0.5;
}

#headerright {
	float: right;
	font-weight: 300;
	letter-spacing: -1px; 
}

#topnavlist {
	margin: 0;
	padding: 0;
}

#topnavlist li {
	float: left;
	list-style-type: none;
	padding-right: 2px;
}

#topnavlist li a {
	display: block;
	padding: 0px 10px;
	background: url(../images/topnavback.jpg);
	color: #999999;
	text-decoration: none;
	line-height: 80px;
	
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: cubic-bezier(1, 0.1, 0.25, 1);
}

#topnavlist .current {
	background: #FFFFFF;
	color: #1E1E1E;
}

#topnavlist a:hover {
	background-position: left bottom;
	color: #CCCCCC;
}

/* CSS for skeleton body */

.centered {
	max-width: 1000px;
	margin: 0 auto;
}

#main {
	padding-top: 80px;
	padding-bottom: 120px;
	font-family: 'Cambo', serif;
}

.para_center {
	text-align: center;
}

/* CSS for the footer */

footer {
	width: 100%;
	height: 120px;
	background: #CACACA;
	color: #1E1E1E;
	bottom: 0;
	position: fixed;
	
	margin-bottom: -120px;
	z-index: 10000;
	
	transition-duration: 1.5s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1);
}

.footeronload {
	margin-bottom: 0px;
}

#hoverinfo {
	width: 100%;
	height: 20px;
	background: #1E1E1E;
	position: relative;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
}

#hovertext {
	margin-top: 0px;
	padding-top: 3px;
	text-transform: uppercase;
}

#botnav {
	width: 680px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#botnavlist {
	margin: 0;
}

#botnavlist li {
	list-style-type: none;
}

.botnavimg {
	width: 100px;
	height: 74px;
	display: block;
	float: left;
	background: #FFFFFF;
	
	border-top: 3px solid;
	border-bottom: 3px solid;
	
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
	
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

/* Individual colours for the bottom navigation buttons */

#nav_skills {
	border-color: #2285FF;
}

#nav_education {
	border-color: #1B315E;
}

#nav_achievements {
	border-color: #B5CF31;
}

#nav_workexp{
	border-color: #6E7575;
}

#nav_portfolio {
	border-color: #663300;
}

#nav_github {
	border-color: #000000;
}

#nav_skills:hover, #nav_education:hover, #nav_achievements:hover, #nav_workexp:hover, #nav_portfolio:hover, #nav_github:hover {
	background: #CACACA;
	border-color: #FFFFFF;
}

.botnavcurrent {
	background: #C1E0FF;
}

.botnavimg img{
	-webkit-transform: skew(20deg) !important;
	-moz-transform: skew(20deg) !important;
	-ms-transform: skew(20deg) !important;
	-o-transform: skew(20deg) !important;
	transform: skew(20deg) !important;
	margin-top: 10px;
}

#copyrightbar {
	width: 100%;
	height: 20px;
	background: #1E1E1E;
	color: #CCCCCC;
	bottom: 0;
	position: absolute;
	font-size: 10px;
}

#copyright {
	margin-top: 2px;
	float: right;
}

/********* CSS for individual pages *********/

.height100 {
	height: 100%;
	min-height: 660px;
}

#logodiv {
	width: 600px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#logo {
	display: none;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#text_et {
	display: none;
	position: relative;
	left: 347px;
	top: -415px;
	z-index: 2;
}

#text_wd {
	display: none;
	position: relative;
	left: -185px;
	top: -245px;
	z-index: 2;
}

#downarrowdivhome {
	display: none;
	margin-top: -220px;
}

@-webkit-keyframes slide {
	0% { margin-top: 0px; }
	50% { margin-top: 40px; }
	100% { margin-top: 0px; }
}

@-moz-keyframes slide {
	0% { margin-top: 0px; }
	50% { margin-top: 40px; }
	100% { margin-top: 0px; }
}

#downarrow {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;    
	
	-webkit-animation-name: slide; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

	-moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
	
    -moz-animation-name: slide; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

#aboutme {
	padding-bottom: 120px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 40px;
}

.fineprint {
	font-family: Arial;
	font-size: 9px;
}

.line {
	border-top: 1px dashed #FFFFFF;
}

.skillscolumns {
	text-align: center;
	margin: 0;
	padding: 0;
}

.skillscolumns li {
	display: inline-block;
	list-style-type: none;
	width: 200px;
	height: 150px;
	margin: 0 20px 0 20px;
	vertical-align: middle;

	opacity: 1;
	transition-duration: 1s;
}

.skillscolumns li:hover {
	opacity: 0.5;
}

.skillratingcontainer {
	text-align: center;
	padding: 15px 0 15px 0;
}

.skillratingdiv {
	width: 150px;
	height: 16px;
	background:  url(../images/ratingbar_bg.jpg) right;
	border: 2px solid #FFFFFF;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: -5px;
	
	transition-duration: 1.5s;
	transition-property: all;
	transition-timing-function: cubic-bezier(1, 0.5, 0.25, 1);
}

.rate10:hover {
	background-position: 0 0;
}

.rate09:hover {
	background-position: -20px 0;
}

.rate03:hover {
	background-position: -110px 0;
}

.rating {
	opacity: 0;
	
	transition-duration: 1.5s;
	transition-property: all;
	transition-timing-function: cubic-bezier(1, 0.5, 0.25, 1);
}

.skillratingdiv:hover + .rating {
	opacity: 1;
}

.skilltextbig {
	font-size: 50px;
}

.edu_new {
	padding-top: 200px;
}

.edu_date {
	text-align: right;
	font-style: italic;
}

.edu_name {
	margin-top: 0px;
	font-size: 40px;
	text-decoration: underline;
}

.edu_subheading {
	font-size: 30px;
}

.edu_list {
	list-style-type: circle;
}

#edu_uwa {
	padding-top: 150px;
}

#edu_other {
	padding-top: 300px;
	padding-bottom: 350px;
}

.downarrowdiv {
	display: block;
	position: relative;
	width: 50px;
	height: 100px;
	margin: 50px auto 0 auto;
	z-index: 3;
}

#achdisclaimer {
	font-size: 12px;
	text-align: right;
}

.clearfloat {
	clear: both;
}

.achpic {
	display: block;
	float: left;
	width: 315px;
	height: 460px;
	margin: 0 0 10px 10px;
	border: 1px solid black;
	background: white;
	
	text-align: center;
	font-family: Arial;
	color: #000000;
	
	opacity: 0.5;
}

.achpic:hover {
	border: 1px solid red;
	opacity: 1;
}

.achdate {
	margin: 0;
	font-style: italic;
}

.achsubtext {
	margin: 0;
	font-size: 14px;
	font-weight: 700;
}

#timelinediv {
	width: 800px;
	height: 740px;
	margin: 0 auto;
}

#timeline_bg {
	margin-bottom: -704px;
	display: none;
}

#timeline_grad {
	height: 110px;
	display: none;
}

#timeline_tutor {
	height: 100px;
	display: none;
	margin-top: 70px;
}

#timeline_myer {
	height: 80px;
	display: none;
}

#timeline_crown {
	height: 200px;
	display: none;
	margin-top: 20px;
}

#timeline_next {
	margin-top: 20px;
	padding-left: 100px;
	display: none;
}

.timeline_pic {
	display: inline-block;
	vertical-align: middle;
	
	transition-duration: 0.4s;
	transition-property: all;
}

.timeline_pic:hover {
	opacity: 0.4;
}

.timeline_date {
	font-size: 25px;
}

.timeline_info {
	display: inline-block;
	vertical-align: middle;
	width: 690px;
	padding-left: 10px;
}

.port_website {
	border-top: 1px solid white;
	opacity: 0.4;
	transition-duration: 1.5s;
}

.port_website:hover {
	opacity: 1;
}

.port_first {
	border-top: none;
}

.port_title {
	text-align: center;
	font-size: 45px;
	margin: 20px 0;
}

.port_pic {
	margin-left: 4px;
	border: 1px solid #000000;
}

.port_pic:hover {
	border-color: #FF0000;
}

#contactpane {
	width: 800px;
	height: 620px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 120px;
}

.contact_column {
	width: 400px;
	float: left;
	text-align: center;
}

#contactcaption {
	font-size: 12px;
	color: #666666;
	margin: 0;
}

#businesscard {
	width: 300px;
	height: 223px;
	margin-top: 50px;
	margin-left: 50px;
	background: url(../images/businesscard_bg.jpg);
	border: 1px solid #666666;
	color: #666666;
	
	opacity: 0.4;
	transition-duration: 1.5s;
}

#businesscard:hover {
	opacity: 1;
}

#businesstitle {
	font-family: 'Pinyon Script', cursive;
	font-size: 50px;
	margin-top: 80px;
	margin-bottom: 0;
}

#businesssubtitle {
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 38px;
}	

#byemail {
	margin: 0;
	font-size: 10px;
}

#email {
	margin: 0;
}

#cvbutton {
	margin: 50px 0 50px 0px;
}

.imagefadehover {
	opacity: 1;
	transition-duration: 1s;
}

.imagefadehover:hover {
	opacity: 0.5;
}